<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glicodexvo1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlicoDexVo1">
        <activity android:name=".ListaEstudiosActivity"></activity>
        <activity android:name=".ReportesActivity" />
        <activity
            android:name=".AnalisisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registrarUsuario_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario_gral"
            android:screenOrientation="portrait" />
        <activity
            android:name=".categoria_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alimentos_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ControlActivityPrueba"
            android:screenOrientation="portrait" />
    </application>

</manifest>